
<div class="img-homepage-banner"></div>
<div class="homepage-banner">
  <div class="homepage-banner-presentation">
    <div class="homepage-banner-presentation-text">
      <h1 class="homepage-title">PLACEHOLDER TITLE</h1>
      <p class="homepage-text">PLACEHOLDER DESCRIPTION</p>
    </div>
  </div>
  <div class="homepage-banner-account-box">
    <div class="img-account-box-container">
      <%= image_tag "video-camera.png", class:"img-account-box"%>
    </div>
    <% if !user_signed_in? %>
      <p>Lorem ipsum dolor sit, amet consectetur adiozeuhdezioudhzeioudhsipisicing elit. Harum in doloremque et maiores rem quam.</p>
      <div class="homepage-login-signup">
        <%= simple_form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "JOIN US", class: "btn button-primary banner-button" %>
          </div>
        <% end %>
      </div>
    <% elsif @user.subscription == "none" %>
      <p class="subscribed-text editor-text">Welcome back!</p>
      <p class="subscribed-text editor-text">Upload now your next book for the world to see!</p>
      <div class="btn-placer">
        <%= link_to books_path do %>
          <div class="btn button-primary homepage-button upload-button">UPLOAD NOW</div>
        <% end %>
      </div>
    <% else %>
      <p class="subscribed-text producer-text">Welcome back!</p>
      <p class="subscribed-text producer-text">Your subscription is active, happy browsing!</p>
      <div class="btn-placer">
        <%= link_to books_path do %>
          <div class="btn button-primary homepage-button browse-button">START BROWSING NOW</div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# <h1>JOIN THE COMMUNITY</h1>
  <div class="producer-editor">
    <div class="engagement editor-engagement">
      <h1>DISPLAY YOUR RIGHTS</h1>
      <div class="button-primary banner-button">JOIN US NOW</div>
    </div>
    <h1>OR</h1>
    <div class="engagement producer-engagement">
      <h1>BROWSE THE WORKS</h1>
      <div class="button-primary banner-button">JOIN US NOW</div>
    </div>
  </div> %>
</div>
<div class="container tutorial-container">
  <div class="tutorial-title">
    <h1>What we offer for you</h1>
  </div>
  <ul class="nav nav-tabs pt-4" id="myTab" role="tablist">
  <li class="nav-item scroll-on-click" role="tab" id="editors-tab" data-bs-toggle="tab" data-bs-target="#editors">
    <%= image_tag("book-editors.png", class: "nav-link-photo") %>
    <button class="nav-link editor" id="editors-tab" data-bs-toggle="tab" data-bs-target="#editors" type="button" role="tab" aria-controls="editors" aria-selected="true">I own rights to books</button>
  </li>
  <li class="nav-item scroll-on-click" role="tab" id="producers-tab" data-bs-toggle="tab" data-bs-target="#producers">
    <%= image_tag("camera-producers.png", class: "nav-link-photo") %>
    <button class="nav-link producer" id="producers-tab" data-bs-toggle="tab" data-bs-target="#producers" type="button" role="tab" aria-controls="producers" aria-selected="false">I want to adapt an existing book</button>
  </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="editors" role="tabpanel" aria-labelledby="editors-tab">
        <div class="container tutorial-phases-container"></div>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="producers" role="tabpanel" aria-labelledby="producers-tab">
      <div class="container tutorial-phases-container"></div>
    </div>
  </div>
</div>
