<div class="books-index-container">
  <div class="books-index-divider">
  </div>
  <div class="container database-container">
    <div class="database-centrer">
      <% if @search_is_on %>
        <%= link_to books_path do %>
          <div class="return-to-database">
            <i class="fas fa-arrow-to-left"></i>
              Return to browsing
          </div>
        <% end %>
      <% end %>
      <div class="books-index-title">
        <h1>Welcome to our Database</h1>
      </div>
    </div>
    <% unless @search_is_on%>
      <% Book::TAGS.shuffle.each do |tag| %>
      <div class="individual-tag">
        <div class="tag-title-full">
          <%= link_to "/books?query=#{tag}" do %>
            <div class="tag-title-text">
              <h5><%= tag %></h5>
            </div>
            <div class="tag-more-info">
              see more
              <i class="fas fa-chevron-right more-info-chevron"></i></div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
    <ul>
      <% @books.each do |book| %>
        <%= link_to book_path(book) do %>
          <li><%= book.title %> <%= book.approved %> <%= book.views_count.size %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
