<div class="navbar-pusher">
  <div class="form-title">
    <h3>Share your book here!</h3>
  </div>
  <div class="container form-container">
    <%= simple_form_for(@book) do |f| %>
      <div class="form-same-lign">
        <%= f.input :title, input_html: { class: "form-box-uniform" } %>
        <%= f.input :publishing_year, input_html: { class: "form-box-uniform" }%>
      </div>
      <div class="form-same-lign">
        <%= f.association :author, label_method: :full_name, value_method: :id, input_html: { class: "form-box-uniform" } %>
        <%= f.input :genre, as: :select, collection: Book::CATEGORY, input_html: { class: "form-box-uniform" }%>
      </div>
      <%= f.input :summary { maxlength: 700 }%>
      <%= f.input :additionnal_description %>
      <p>Add some tags</p>
      <%= f.input :tags, collection: Book::TAGS, input_html: { multiple: true, class: "form-book-tags" }, as: :check_boxes%>
      <%= f.input :photo, as: :file %>
      <div class="form-actions">
        <%= f.button :submit, "Share your book!", class:"btn form-btn-validate editor-btn" %>
      </div>
    <% end %>
  </div>
</div>
