<div class="navbar-pusher">
  <div class="container">
    <%= link_to books_path do %>
      <div class="return-to-database">
        <i class="fas fa-arrow-to-left"></i>
          Return to browsing
      </div>
      <% end %>
    <div class="book-show-info-grid">
    <div class="book-show-box book-show-cover">
      <div class="book-show-cover-img">
        <% if @book.photo.attached? %>
          <%= cl_image_tag @book.photo.key, gravity: :center, class:"book-show-photo" %>
        <% else %>
          <%= image_tag("#{@book.genre}_cover.png") %>
        <% end %>
      </div>
    </div>
    <div class="book-show-box book-show-title">
      <h1><%= @book.title %></h1>
      <div class="author-link-text">
        <p>Written by</p>
        <%= link_to "/books?query=#{@book.author.first_name} #{@book.author.last_name}&button=" do%>
          <p class="author-link"><%="#{@book.author.first_name} #{@book.author.last_name}"%></p>
        <% end %>
      </div>
    </div>
    <div class="book-show-box book-show-description">
      <div class="book-summary">
        <h5>Summary:</h5>
        <p><%= @book.summary %></p>
      </div>
      <div class="book-more-info">
        <p data-bs-toggle="modal" data-bs-target="#ShowMoreInfoModal" style="cursor: pointer; text-decoration: underline; font-style: italic">Click here for additionnal information about the book</p>
      </div>
    </div>
    <div class="book-show-box book-show-tags">
      <% @book.tags.each do |tag| %>
        <%= link_to "/books?query=#{tag}&button=" do%>
          <div class="book-show-individual-tag">
            <%= tag %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="book-show-box book-show-contact-title">
      <h1>Contact Information</h1>
    </div>
    <div class="book-show-box book-show-contact-information">
      <div class="book-contact-info-box book-contact-info-editor-name">
        <p class="book-contact-info-title">Name of the editor</p>
        <div class="book-contact-info-details">
          <p><%= @book.editor.name %></p>
        </div>

      </div>
      <div class="book-contact-info-box book-contact-info-editor-address">
        <p class="book-contact-info-title">How to contact them?</p>
        <div class="book-contact-info-details">
          <p><%= @book.editor.user.email %></p>
          <p><%= @book.editor.phone_number %></p>
        </div>
      </div>
      <div class="book-contact-info-box book-contact-info-editor-number">
        <p class="book-contact-info-title">Where do they operate from?</p>
        <div class="book-contact-info-details">
        <% if @address.city && @address.country%>
          <p><%= @address.city %></p>
          <p><%= @address.country %></p>
        <% else %>
          <p>We could not get this information</p>
        <% end %>
        </div>
      </div>
      <div class="book-contact-info-box book-contact-info-editor-info">
        <p class="book-contact-info-title">More info</p>
        <div class="book-contact-info-details">
          <% if @book.editor.more_info %>
            <p><%= @book.editor.more_info  %></p>
          <% else %>
            <p>This box is reserved for an addition message given by the editor</p>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- Modal More information -->

<div class="modal fade" id="ShowMoreInfoModal" tabindex="-1" aria-labelledby="ShowMoreInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="position-relative" style="z-index: 2;">
        <button type="button" class="btn-close position-absolute" data-bs-dismiss="modal" aria-label="Close" style="top: 15px; right: 15px;"></button>
      </div>
      <div class="modal-body mx-5">
        <%= @book.additionnal_description %>
    </div>
    </div>
  </div>
</div>
