<div class="navbar-pusher">
  <div class="container">
    <%= link_to books_path do %>
      <div class="return-to-database">
        <i class="fas fa-arrow-to-left"></i>
          Return to browsing
      </div>
      <% end %>
    <div class="book-show-info-grid">
    <div class="book-show-box book-show-cover">
      <div class="book-show-cover-img">
        <% if @book.photo.attached? %>
          <%= cl_image_tag @book.photo.key, gravity: :center, class:"book-show-photo" %>
        <% else %>
          <%= image_tag("#{@book.genre}_cover.png") %>
        <% end %>
      </div>
    </div>
    <div class="book-show-box book-show-title">
      <h1><%= @book.title %></h1>
    </div>
    <div class="book-show-box book-show-description">
      <div class="book-summary">
        <h5>Summary:</h5>
        <p><%= @book.summary %></p>
      </div>
      <div class="book-more-info">
        <h5>Additionnal information:</h5>
        <p><%= @book.additionnal_description %></p>
      </div>
    </div>
    <div class="book-show-box book-show-tags">
      <ul>
        <% @book.tags.each do |tag| %>
          <%= tag %>
        <% end %>
      </ul>
    </div>
    <div class="book-show-box book-show-author">
      <div class="avatar"></div>
      <h4><%= "#{@book.author.first_name} #{@book.author.last_name} "%></h4>
    </div>
    <div class="book-show-box book-show-contact-title">
      <h1>Contact Information</h1>
    </div>
    <div class="book-show-box book-show-contact-information">
      <p><%= @book.editor.name %></p>
      <p><%= @book.editor.address %></p>
    </div>
    </div>
  </div>
</div>
